Taller_7/.ipynb_checkpoints
Taller_7/data_folder
Taller_7/Data.zip

Taller_7/Models/Cat_Model/chkpt
Taller_7/Models/Cat_Model/a_metrics.npy
Taller_7/Models/Cat_Model/d_metrics.npy

Taller_7/Models/FirstModel/chkpt
Taller_7/Models/FirstModel/a_metrics.npy
Taller_7/Models/FirstModel/d_metrics.npy

Taller_7/Models/Guitar_Model/chkpt
Taller_7/Models/Guitar_Model/a_metrics.npy
Taller_7/Models/Guitar_Model/d_metrics.npy